@import 'Styling/index.scss';

.container{
    display: flex;
    flex-direction: column;
    width: 60px;
    .scoreContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        color: rgb(255, 255, 255);
        p { 
            padding-bottom: 5px;
            font-size: 16px;
        }
    }
    button {
        cursor: pointer;
        border: none;
        background-color: transparent;
            svg{
                color:rgba(255, 255, 255, 0.338);
            }
        
    }

    .buttonActive {       
        svg{
            color:white
        }            

}

    
}
